# imporrt what you need

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix    
print('Done!')
import numpy as np

Done!

# load you data

# Read about the data here, https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

# or just google: "The Boston Housing Dataset" to find more information

In [2]:
Your_Data= pd.read_csv('Boston_Housing.csv')
print('Done!')

Done!

# See the shape of the data

In [3]:
Your_Data.shape

(20640, 10)

# get the name of the parameters and the data type

In [4]:
Your_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

# get the mean for each column

In [5]:
Your_Data.mean()

longitude               -119.569704
latitude                  35.631861
housing_median_age        28.639486
total_rooms             2635.763081
total_bedrooms           537.870553
population              1425.476744
households               499.539680
median_income              3.870671
median_house_value    206855.816909
dtype: float64

# get the mean for each column

In [6]:
Your_Data.median()

longitude               -118.4900
latitude                  34.2600
housing_median_age        29.0000
total_rooms             2127.0000
total_bedrooms           435.0000
population              1166.0000
households               409.0000
median_income              3.5348
median_house_value    179700.0000
dtype: float64

# Use "Your_Data.fillna(VALUE)" to fill NaNs with a values

use mean or medain values to fill NaNs

In [7]:
Your_Data.fillna(Your_Data.mean(), inplace=True)

In [8]:
Your_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

# Save your fixed file

In [9]:
Your_Data.to_csv('Boston_Housing_clean.csv')

In [10]:
Your_Data.shape

(20640, 10)